<!--@subject שלום {{var customer.name}}! @-->

<style type="text/css">
body,td { direction: rtl; text-align: right; color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="שם החנות"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>{{var customer.name}} היקר</strong>,<br/>
                             ברוכים הבאים לאתר_____. על מנת להכנס לחשבון האישי שלך באתר לחץ על <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">התחברות</a> או <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">החשבון שלי</a> בחלק העליון של כל דף באתר ואז הכנס את כתובת דואר אלקטרוני שלך והסיסמא.</p>

                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; ">
                                השתמש בפרטי לקוח הבאים בעת ההתחברות:<br/>
                                דואר אלקטרוני: {{var customer.email}}<br/>
                                סיסמא: {{var customer.password}}<p>

                            <p>לאחר ההתחברות באפשרותך לבצע פעולות הבאות:</p>

                            <ul>
                                <li>לבצע רכישת מוצרים בדרך מהירה יותר</li>
                                <li>לבדוק סטטוס של הזמנותיך</li>
                                <li>לראות הזמנות קודמות</li>
                                <li>לערוך פרטים האישיים שלך ופרטי משלוח</li>
                                <li>לשנות את סיסמתך</li>
                                <li>ליצור כתובות למשלוח נוספות (למשלוח עבור בני משפחתך ולחבריך!)</li>
                            </ul>

                            <p>בכל שאלה אודות ניהול החשבון האישי או כל שאלה אחרת אל תהסס לפנות אלינו בכתובת <a href="mailto:support@yourdomain.co.il" style="color:#1E7EC8;">support@yourdomain.co.il</a> או בטלפון (555) 555-0123.</p>
                            <p>תודה רבה!</p>


                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
